# lists

In [ ]:
# lists are the collection of ordeed and mutable data.
# a=[]. separated by coma(,).multiple data types

In [ ]:
furits=["apple","banana",123,1.12]
print(furits)

['apple', 'banana', 123, 1.12]

**lists slicing**

In [ ]:
a=["Ironman","Captain America","Thor","Hulk"]
print(a[1])

Captain America

In [ ]:
print(a[-3])

Captain America

In [ ]:
print(a[1:3])

['Captain America', 'Thor']

In [ ]:
print(a[:2])

['Ironman', 'Captain America']

In [ ]:
print(a[2:])

['Thor', 'Hulk']

In [ ]:
print(a[::2])

['Ironman', 'Thor']

In [ ]:
print(a[::-1])

['Hulk', 'Thor', 'Captain America', 'Ironman']

In [ ]:
print(a[-1:-4:-1])

['Hulk', 'Thor', 'Captain America']

**list Iteration**

In [ ]:
# iteration using for loop
a=["Ironman","Captain America","Thor","Hulk"]
for i in a:
    print(i)

Ironman
Captain America
Thor
Hulk

In [ ]:
# iteration using for loop with range and lenght function
for i in range (len(a)):
  print(a[i])

Ironman
Captain America
Thor
Hulk

In [ ]:
# iteration using while loop
a=["Ironman","Captain America","Thor","Hulk"]
i=0
while i<len(a):
    print(a[i])
    i+=1

Ironman
Captain America
Thor
Hulk

In [ ]:
# using short-hand for loop
a=["Ironman","Captain America","Thor","Hulk"]
[print(i) for i in a]

Ironman
Captain America
Thor
Hulk

[None, None, None, None]

**lists funtions**

In [ ]:
# to find the lenght of a list
a=["Ironman","Captain America","Thor","Hulk"]
print(len(a))

4

In [ ]:
# to count an occurance of a particular element
a=["Ironman","Captain America","Thor","Hulk","Thor"]
print(a.count("Thor"))

2

In [ ]:
# to add to the list
a=["Ironman","Captain America","Thor","Hulk"]
a.append("Spiderman") # add at the last of string
print(a)

['Ironman', 'Captain America', 'Thor', 'Hulk', 'Spiderman']

In [ ]:
# to add to a spectific location
a.insert(3,"Black Panther")
print(a)

['Ironman', 'Captain America', 'Thor', 'Black Panther', 'Hulk', 'Spiderman']

In [ ]:
# to remove from a list
a.remove("Black Panther")
print(a)
a.remove("Thor")
print(a)

['Ironman', 'Captain America', 'Thor', 'Hulk', 'Spiderman']
['Ironman', 'Captain America', 'Hulk', 'Spiderman']

In [ ]:
# to remove from a certain location
print(a.pop(1))
print(a)

Captain America
['Ironman', 'Hulk', 'Spiderman']

In [ ]:
# to create a copy of a list
b=a.copy()
print(b)

['Ironman', 'Hulk', 'Spiderman']

In [ ]:
# to access an element
print(a[2])
print(a.index("Hulk"))

Spiderman
1

In [ ]:
# to entend the list
c=["Antman","Captain Marvel"]
a.extend(c)
print(a)

['Ironman', 'Hulk', 'Spiderman', 'Antman', 'Captain Marvel']

In [ ]:
# to reverse the list
a.reverse()
print(a)

['Captain Marvel', 'Antman', 'Spiderman', 'Hulk', 'Ironman']

In [ ]:
# to short the list
a.sort()
print(a)
a.sort(reverse=True)
print(a)

['Antman', 'Captain Marvel', 'Hulk', 'Ironman', 'Spiderman']
['Spiderman', 'Ironman', 'Hulk', 'Captain Marvel', 'Antman']

In [ ]:
# to clear all the data from the list
a.clear()
print(a)

[]

**list comprehension**

In [ ]:
li=[40,23,40]
l2=[]
for i in li:
  if i >30 :
    l2.append(i)
print(l2)

[]

In [ ]:
l3=[i for i in li if i>30]
print(l3)

[40, 40]

In [ ]:
l4=[i for i in li]
print(l4)

[40, 23, 40]

# **problems**

**["Ross","Rachel","Monica","Joe"]**

In [ ]:
A=["Ross","Rachel","Monica","Joe"]
print(A)

['Ross', 'Rachel', 'Monica', 'Joe']

**write a program to swap first and forth element.**

In [ ]:
A[0],A[3]=A[3],A[0]
print(A)

['Joe', 'Rachel', 'Monica', 'Ross']

**write a program to add a new value at second position.**

In [ ]:
A.insert(1,"Chandler")
print(A)

['Joe', 'Chandler', 'Rachel', 'Monica', 'Ross']

**write a program to delete a value from 3 position.**

In [ ]:
A.pop(2)
print(A)

['Joe', 'Chandler', 'Monica', 'Ross']

**[13,7,12,10]**

In [ ]:
B=[13,7,12,10]
print(B)

[13, 7, 12, 10]

**write a program to multiply all the numbers in the list.**

In [ ]:
mul=1
for i in B:
  mul*=i
print(mul)

10920

**write a program to get the largest number from the list.**

In [ ]:
B.sort()
print(B[-1])

13

**write a program to get hte smallest number from the list.**

In [ ]:
B.sort()
print(B[0])

7

# Tuples

In [ ]:
# ordered and un-mutable data
# ---> ()
# ---> un-mutable no add , update , remove
# ---> separated by coma(,)
# ---> multiple datatype in it

In [ ]:
a=("apple","mango","banana")
print(type(a))

<class 'tuple'>

In [ ]:
a="apple","mango","banana",16,1.34
print(type(a))

<class 'tuple'>

In [ ]:
b="ironman"
print(type(b))

<class 'str'>

In [ ]:
b="ironman",
print(type(b))

<class 'tuple'>

**slicing and iteration in typles**

In [ ]:
a=("OnePlus","Vivo","Redmi","SumSung","Nokia")
print(a[1:3])

('Vivo', 'Redmi')

In [ ]:
print(a[:3])

('OnePlus', 'Vivo', 'Redmi')

In [ ]:
print(a[2:])

('Redmi', 'SumSung', 'Nokia')

In [ ]:
print(a[1::2])

('Vivo', 'SumSung')

In [ ]:
print(a[::-1])

('Nokia', 'SumSung', 'Redmi', 'Vivo', 'OnePlus')

In [ ]:
print(a[2::-1])

('Redmi', 'Vivo', 'OnePlus')

In [ ]:
for i in a:
  print(i)

OnePlus
Vivo
Redmi
SumSung
Nokia

In [ ]:
for i in range(len(a)):
  print(a[i])

OnePlus
Vivo
Redmi
SumSung
Nokia

In [ ]:
i=0
while i<len(a):
  print(a[i])
  i+=1

OnePlus
Vivo
Redmi
SumSung
Nokia

**convertion of tuples and tuples funtions**

In [ ]:
a=("OnePlus","Vivo","Redmi","SumSung","Nokia","Vivo")
print(a.index("Redmi"))
print("before convertion ",type(a))

2
before convertion  <class 'tuple'>

In [ ]:
a=list(a)
print("after convertion ",type(a))

after convertion  <class 'list'>

In [ ]:
a.append("Iphone")

In [ ]:
print(a)

['OnePlus', 'Vivo', 'Redmi', 'SumSung', 'Nokia', 'Iphone']

In [ ]:
a=tuple(a)

In [ ]:
print(type(a))

<class 'tuple'>

In [ ]:
a.count("Vivo")

2

# Dictionary

In [ ]:
# write data in the form of keys and values
# ---> enclosed inside curly brackets{}
# --->  key values separated by colon
# ---> every key pair separated by a coma(,)

In [ ]:
employee={"name":"David","age":24,"gender":"male"}
print(employee)

{'name': 'David', 'age': 24, 'gender': 'male'}

In [ ]:
print(employee["gender"])
print(employee.values())

male
dict_values(['David', 24, 'male'])

In [ ]:
# iteration in dictionary

In [ ]:
for x in employee:
  print(x)

name
age
gender

In [ ]:
for i in employee:
  print(employee[i])

David
24
male

In [ ]:
print(employee.keys())

dict_keys(['name', 'age', 'gender'])

In [ ]:
for i,j in employee.items():
  print(i,j)

name David
age 24
gender male

In [ ]:
# dictionary functions
Student={"name":"Jon","class":"6th","roll_no":23}
print(Student)

{'name': 'Jon', 'class': '6th', 'roll_no': 23}

In [ ]:
# get
x=Student.get("name")
print(x)

Jon

In [ ]:
# items
x=Student.items()
print(x)

dict_items([('name', 'Jon'), ('class', '6th'), ('roll_no', 23)])

In [ ]:
# keys
x=Student.keys()
print(x)

dict_keys(['name', 'class', 'roll_no'])

In [ ]:
# values
x=Student.values()
print(x)

dict_values(['Jon', '6th', 23])

In [ ]:
# copy
d=Student.copy()
print(d)

{'name': 'Jon', 'class': '6th', 'roll_no': 23}

In [ ]:
# setdefault
x=Student.setdefault("name","David")
print(x)

Jon

In [ ]:
# update
Student.update({"name":"David"})
print(Student)

{'name': 'David', 'class': '6th', 'roll_no': 23}

In [ ]:
# pop
Student.pop("name")
print(Student)

{'class': '6th', 'roll_no': 23}

In [ ]:
# popitems
Student.popitem()
print(Student)

{'class': '6th'}

In [ ]:
# clear
Student.clear()
print(Student)

{}

In [ ]:
# NESTED DICTIONARY
# ---> dictionary inside a dictionary

In [ ]:
employee={1:{"name":"Jon","age":23},
          2:{"name":"Lisa","age":24},
          3:{"name":"David","age":25}}
print(employee)

{1: {'name': 'Jon', 'age': 23}, 2: {'name': 'Lisa', 'age': 24}, 3: {'name': 'David', 'age': 25}}

In [ ]:
print(employee[1])

{'name': 'Jon', 'age': 23}

In [ ]:
print(employee[2]["name"])

Lisa

# **JSON**

In [ ]:
import json
# java script object notation
json_data='{"name":"David","age":13,"markes":87}'
print(type(json_data))

<class 'str'>

In [ ]:
# to load
x=json.loads(json_data)
print(type(x))

<class 'dict'>

In [ ]:
x["age"]

13

# **Problems**

**write a python program to sort a dictionary values**

In [ ]:
a={"a":1,"b":2,"c":3}
print(a)
a=sorted(a.values())
print(a)

{'a': 1, 'b': 2, 'c': 3}
[1, 2, 3]

**write a python script to print a dictionary where th keys are numbers between 1 to 15 and values are square of keys**

In [ ]:
a={}
for i in range(1,16):
  a[i]=i**2
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

**write a program to multiply all items in a dictionary**

In [ ]:
a={"a":1,"b":2,"c":3}
mul=1
for i in a:
  mul*=a[i]
print(mul)

6

In [ ]:
a={"a":1,"b":2,"c":3}
mul=1
for i in a.values():
  mul*=i
print(mul)

6

**write a python program to short a dictionary by key**

In [ ]:
a={1:"a",2:"b",3:"c",4:"d"}
a=sorted(a.keys())
print(a)

[1, 2, 3, 4]

**student_data={"name":"David","age":13,"markes":87}**

In [ ]:
student_data={"name":"David","age":13,"markes":87}
print(student_data)

{'name': 'David', 'age': 13, 'markes': 87}

**convert the dic into JSON format**

In [ ]:
import json
print(type(student_data))
student_data_json=json.dumps(student_data)
print(type(student_data_json))
print(student_data_json)

<class 'dict'>
<class 'str'>
{"name": "David", "age": 13, "markes": 87}

**Acess the value of age from the given data**

In [ ]:
data =json.loads(student_data_json)
print(data["age"])

13

**pretty print JSON data**

In [ ]:
data=json.dumps(student_data,indent=4,separators=(".","="))
print(data)

{
    "name"="David".
    "age"=13.
    "markes"=87
}

**sort the following Json keys and write them into a file**

In [ ]:
with open ("sample.json","w") as f:
  json.dump(student_data,f,indent=4,sort_keys=True)

**Access the nested key marks from the following nested data**

In [ ]:
student_data2="""{"student":{
  "grade":{
    "name":"David",
    "marks":{
      "physics":70}

    }}}"""

In [ ]:
data =json.loads(student_data2)

In [ ]:
print(data["student"]["grade"]["marks"])

{'physics': 70}

# sets

In [ ]:
# unordered collection of data
# --> no indexing
# --> unique
# --> mutable
# --> inside a curly brakets {}
# --> separated by coma ,

In [ ]:
a={"Ironman","Hulk","Caption America","Thor"}
print(a)

{'Ironman', 'Hulk', 'Thor', 'Caption America'}

In [ ]:
for x in a:
  print(x)

Ironman
Hulk
Thor
Caption America

In [ ]:
# set functions

In [ ]:
# add
a.add("Spiderman")
print(a)

{'Thor', 'Ironman', 'Spiderman', 'Caption America', 'Hulk'}

In [ ]:
# pop
a.pop()
print(a)

{'Ironman', 'Spiderman', 'Caption America', 'Hulk'}

In [ ]:
# remove
a.remove("Hulk")
print(a)

{'Ironman', 'Spiderman', 'Caption America'}

In [ ]:
# discard
a.discard("Ironman")
print(a)

{'Spiderman', 'Caption America'}

In [ ]:
# copy
b=a.copy()
print(b)

{'Spiderman', 'Caption America'}

In [ ]:
# isdisjoint
a={"Ironman","Hulk","Caption America","Thor"}
b={"Spiderman","Antman"}
c={"Hulk","Thor"}
print(a.isdisjoint(c))
print(a.isdisjoint(b))

False
True

In [ ]:
# issubset
print(a.issubset(b))
print(c.issubset(a))

False
True

In [ ]:
# issuperset
print(a.issuperset(c))
print(c.issuperset(a))
#

True
False

In [ ]:
# update
a.update(b)
print(a)

{'Ironman', 'Antman', 'Caption America', 'Spiderman', 'Thor', 'Hulk'}

In [ ]:
# clear
a.clear()
print(a)

set()

In [ ]:
a={"Ironman","Hulk","Caption America","Thor"}
b={"Spiderman","Antman","Caption America"}
c={"Hulk","Thor","Antman"}

In [ ]:
# union
print(a.union(b))

{'Ironman', 'Antman', 'Caption America', 'Spiderman', 'Thor', 'Hulk'}

In [ ]:
# difference
print(a.difference(c))
print(a)

{'Ironman', 'Caption America'}
{'Ironman', 'Hulk', 'Thor', 'Caption America'}

In [ ]:
# diference update
a.difference_update(c)
print(a)

{'Ironman', 'Caption America'}

In [ ]:
# intersection
# common elements
print(a.intersection(b))
print(a)

{'Caption America'}
{'Ironman', 'Caption America'}

In [ ]:
# intersection update
a.intersection_update(b)
print(a)

{'Caption America'}

In [ ]:
# symmetric difference
a={"Ironman","Hulk","Caption America","Thor"}
b={"Spiderman","Antman","Caption America"}
c={"Hulk","Thor","Antman"}
print(a.symmetric_difference(b))
# only give a and b un common values
print(a)

{'Thor', 'Ironman', 'Antman', 'Spiderman', 'Hulk'}
{'Ironman', 'Hulk', 'Thor', 'Caption America'}

In [ ]:
# symmetric dfference update
a.symmetric_difference_update(b)
print(a)

{'Thor', 'Ironman', 'Antman', 'Spiderman', 'Hulk'}

# problems

**write a program to fing max and min in a set**

In [ ]:
s={1,2,3,4,5,6,7,8,9}
print(max(s))
print(min(s))

9
1

**write a program to find common element in three list using sets**

In [ ]:
a={1,2,3,4,5}
b={3,4,5,6,7}
c={5,6,7,8,9}
print(set(a)&set(b)&set(c))
print(a.intersection(b,c))

{5}
{5}

**write a program to find difference between two sets**

In [ ]:
a={1,2,3,4,5}
b={3,4,5,6,7}
print(a.difference(b))
print(b.difference(a))

{1, 2}
{6, 7}

**write a python program to remove items from a set if it present in a set**

In [ ]:
a={1,2,3,4,5,6}
a.discard(3)
print(a)

{1, 2, 4, 5, 6}

**write a program to check if a set is a subset of another set**

In [ ]:
a={1,2,3,4,5,6}
b={2,3,4}
print(b.issubset(a))

True